.regalosContainer {
    margin-top: .5vh;
    margin-bottom: 1vh;
}

.mat-list-object {
    margin-bottom: 2vh;
    border-radius: 8px;
    background-color: #e9e9e9;
    padding-top: 1vh !important;
    padding-bottom: 6vh !important;
}

.mdc-card__actions {
    flex-direction: column !important;
    align-items: flex-start;
}