<div class="row justify-content-center">
    <div class="col-md-12 col-lg-5">
        <div class="pictureContainer">

        </div>
        <form class="example-form col-6">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>First name</mat-label>
                  <input matInput>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <mat-label>Address</mat-label>
                  <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Address 2</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>

            
                <mat-form-field class="example-full-width">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Ex. San Francisco">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California">
                </mat-form-field>
              <button type="submit" mat-raised-button color="primary" style="margin-top: 3vh">Salvar</button>
          </form>
    </div>
</div>