.app-toolbar {
    position: -webkit-fixed; /* For macOS/iOS Safari */
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on bottom */
    left: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
/*     background-color: var(--md-sys-color-surface-variant-light);
    color: var(--md-sys-color-primary-light); */
}

.topBarColor {
    height: 24px;
    top: -10px;
    position: relative;
    background-color: #EBF000;
}

.img-thumbnail-profile {
    padding: .25rem;
    background-color: #938181;
    border: 1px solid var(--bs-border-color);
    border-radius: 62%;
    width: 42%;
}

.pictureHolder {
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
}

.separator {
    height: 20px;
}

.exit-btn {
    color: var(--primary-dark);
    font-weight: bold;
}